li {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  width: 50%;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
  font-weight: bold;
  display: block;
}

.description {
  font-style: italic;
  display: block;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
  display: block;
}

.meal-item-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
}
